<%- include("../shared/_header") %>

<link rel="stylesheet" type="text/css" href="/css/userpage.css">

<div class="container mt-5">
    <h1>User Profile</h1>

    <a href="/users/<%= card.id %>/user">Edit user</a>

    <div>
        <div>
            <p>
                <%= user.firstName %> <%= user.lastName %>
            </p>
        </div>
    </div>

    <a href="/cards">Back to cards</a>
</div>

<%- include("../shared/_footer") %>